.news-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 475px;
    margin: 15px 15px 0 15px;
    text-align: center;
    z-index: 1000;
    padding: 5px;
}

.home-link {
    font-size: 1.1em;
    font-weight: 500;
}

.card-text {
    text-align: center;
}

.card-text a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-img {
    border-radius: 5px;
    height: 80%;
    overflow: hidden;
}

.news-title {
    font-weight: bold;
}

@media screen and (min-width: 495px) and (max-width: 630px) {
    .news-img {
        
    }
}

@media screen and (min-width: 1300px) and (max-width: 1899px) {
    .news-card {
        min-width: 400px;
        height: 450px;
        flex-direction: row;
        align-items: start;
        gap: 5px;
    }

    .homepage {
        margin-left: 5px;
    }

    .news-img {
        max-height: 95%;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 50%;
    }
}

@media screen and (min-width: 1900px) {
    .news-card {
        min-width: 600px;
        height: 560px;
        flex-direction: row;
        align-items: start;
        gap: 5px;
    }

    .news-img {
        max-height: 100%;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 40%;
    }
}