.navbar {
    position: fixed; 
    top: 80px;
    left: 0px;
    width: 100%;
    padding: 10px 0px 10px;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
}

.nav-link {
    list-style: none;
    font-size: 1.3em;
}
.nav-open {
    transform: translateX(0) !important;
    text-align: center;
    padding-right: 40px;
    height: 100%;
}

.nav-item {
    font-size: 16px;
}

.hamburger {
    cursor: pointer;
}

.hamburger-open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.hamburger-open .bar:nth-child(2) {
    opacity: 0;
}
.hamburger-open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.bar {
    height: 2px;
    width: 27px;
    background: rgb(237, 245, 252);
    margin: 5px 0px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.bar-light {
    background: rgb(13, 37, 59);
}

a:link {
    text-decoration: none;
    color: rgb(2, 102, 112, .8);
}

a:hover {
    text-decoration: underline;
    color: rgb(2, 102, 112);
}

a:visited {
    color: rgb(2, 102, 112, .8);
}

/* .a-dark-c:link {
    color: rgb(243, 238, 188, .8);
}

.a-dark-c:hover {
    color: rgb(243, 238, 188);
}

.a-dark-c:visited {
    color: rgba(243, 238, 188, .8);
} */

.a-light:link {
    color: rgb(2, 102, 112, .8);
}

.a-light:hover {
    color: rgb(2, 102, 112);
}

.a-light:visited {
    color: rgb(2, 102, 112, .8);
}

.a-dark:link, .a-dark-b:link {
    color: rgb(159, 237, 215, .8);
}

.a-dark:hover, .a-dark-b:hover {
    color: rgb(159, 237, 215);
}

.a-dark:visited, .a-dark-b:visited {
    color: rgba(159, 237, 215, .8);
}

.nav-dark {
    background-color: rgba(54, 54, 54, 0.95);
    color: white;
}

.nav-light {
    background-color: rgba(255, 255, 255, 0.95);
}

#auth-options {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    margin-left: 40px;
}

#auth-options-dark {
    color: rgba(237, 234, 229, 0.8);
    font-weight: 500;
}

#auth-options-dark:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#auth-options-light {
    color: rgba(20, 65, 70, 0.8);
    font-weight: 500;
}

#auth-options-light:hover {
    color: rgb(4, 48, 53);
    text-decoration: none;
}
  

/* navbar media query */
@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        transform: translateX(0) !important;
        top: 0;
        padding: 10px;
        max-width: 100%;
        justify-content: center;
        background-color: transparent;
    }

    #navbar-logged-in {
        width: 600px;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        width: 62%;
        padding: 0;
        font-size: 1em;
    }

    #navlist {
        width: 100%;
        justify-content: space-around;
        gap: 0px;
    }

    .auth-options-top {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 38%;
    }
}

@media screen and (min-width: 951px) {
    .nav-list {
        font-size: 1.05em;
    }

    .navbar {
        gap: 5px;
    }
    
}

@media screen and (min-width: 1300px) {
    .nav-link {
        padding: 0 30px 0 30px;
    }
    
}