.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-right: 50px;
    align-items: center;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#logo-light, #logo-light a:visited {
    color: #026670;
}

#logo-light:hover {
    text-decoration: none;
}

#logo-dark, #logo-dark a:visited {
    color: #EDEAE5;
}

#logo-dark:hover {
    text-decoration: none;
}

#profile-icon:hover {
    text-decoration: none;
}

#profile-icon, #profile-icon:visited {
    color: white;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 127, 80, 0.789);
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    margin-right: 25px;
}

.profile-icon:hover {
    background-color: lightcoral;
    color:white;
}

.logout {
    margin-right: 10px;
}

/* header not signed in  */
.auth-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    
}

.logoimg {
    max-height: 90px;
}

.logoimg-light {
    margin-top: 5px;
}

.right-auth-header {
    display: flex;
    align-items: center;
    gap: 30px
}

.auth-about {
    font-size: 1.4em;
}

.toggle-container {
    display: flex;
    flex-direction: column;
    font-size: .7em;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    min-width: 60px;
}


.auth-header-light {
    background-color: rgb(236, 236, 236);
}

/* header media query */
@media screen and (min-width: 768px) and (max-width: 950px) {
    .logo-text {
        font-size: 1.1em;
        min-width: px;
    }

    .logo {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 951px) {
    .logo-text {
        font-size: 1.4em;
        min-width: 280px;
    }

    .logo {
        font-size: 1.6em;
    }
}
