.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-right: 50px;
    align-items: center;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#logo-dark a:visited {
    color: rgb(231, 236, 239);
}
.logo-dark a:hover {
    color: rgb(155, 175, 184);
    text-decoration: none;
    text-align: center;
}

.logo-dark {
    color: rgb(231, 236, 239);
}

.logo-light {
    color: rgb(39, 67, 70);
}

#logo-light a:visited {
    color: rgb(39, 67, 70);
}

.logo-light a:hover {
    color: rgb(23, 28, 35);
    text-decoration: none;
    text-align: center;
}

#profile-icon:hover {
    text-decoration: none;
}

#profile-icon:visited {
    color: white;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 127, 80, 0.789);
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    margin-right: 25px;
}

.profile-icon:hover {
    background-color: lightcoral;
    color:white;
}

.logout {
    margin-right: 10px;
}

/* header not signed in  */
.auth-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-weight: 550;
}

.logo-text-dark {
    color: aliceblue
}

.logo-text-light {
    color: rgb(39, 67, 70);
}

.logoimg {
    width: 70px;
}

.right-auth-header {
    display: flex;
    align-items: center;
    gap: 30px
}

.auth-about {
    font-size: 1.4em;
}

.toggle-container {
    display: flex;
    flex-direction: column;
    font-size: .7em;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    min-width: 60px;
}


.auth-header-light {
    background-color: rgb(236, 236, 236);
}

/* header media query */
@media screen and (min-width: 768px) {
    .logo {
        font-size: 1.6em;
    }
}