.profile {
    margin-top: 80px;
    padding: 5px;
}

.profile h4{
    text-align: center;
}

.profile-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-section {
    border: 1px solid gray;
    padding: 35px;
    border-radius: 8px;
}

.ps1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 1.3em;
}

.ps2 h3 {
    font-weight: bold;
    margin-bottom: -10px;
}

.ps2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.profile-icon-large {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 127, 80, 0.789);
    width: 140px;
    height: 140px;
    font-size: 1.5em;
    color: white;
    font-size: 5em;
}

.profile-buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.pb2 {
    margin-top: 25px;
}


#red-button {
    background-color: rgb(197, 42, 18);
}

#red-button:hover {
    background-color: rgb(174, 27, 5);
}

.profile-list li {
    list-style: none;
    margin-left: -20px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
}

.input-div {
    display: flex;
    gap: 10px;
}

.profile-input {
    display: flex;
    flex-direction: column;

}

.profile-input label {
    text-align: left;
    font-weight: 500;
    font-size: 0.9em;
}

.zip-state-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.state-container {
    width: 22%
}

.zip-container {
    width: 75%;
}

@media screen and (min-width: 560px) {
    .profile-section {
        margin-bottom: 100%;
    }
}

@media screen and (max-width: 614px) {
    #edit-true {
        margin-bottom: 0%;
    }

    profile-form {
        margin-bottom: 100%;
    }
}

@media screen and (max-width: 560px ) {
    .ps2 {
        margin-bottom: 100%;
    }
}