footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px 10px 8px;
    z-index: 999;
    height: 100px;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.social-list {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-left {
    font-size: 0.8em;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.footer-center {
    font-size: 0.8em;
}

.socials {
    list-style: none;
}

.logo-footer {
    font-size: 1em;
    font-weight: 500;
}

.footer-dark {
    background-color: rgb(88, 88, 88);
    color: white;
}

.footer-light {
    background-color: rgb(236, 236, 236);
}

@media screen and (min-width: 550px) { 
    footer{
        height: 85px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .footer-left, .footer-center {
        font-size: 1em;
    }

    .logo-footer {
        font-size: 1.2em;
    }
}