* {
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}

section {
  padding-bottom: 50vh;
  padding-left: 40px;
  padding-right: 50px;
  min-height: 100vh;
}

h4 {
  font-size: 1.7em;
  font-weight: 600;
}

.light {
  background-color: #FCFCF7FF;
  color: #252525;
}

.dark {
  background-color: rgb(25,25,25);
  color: #EDEAE5;
}

.app-label {
  font-size: 1.2em;
  font-weight: 500;
}

.hidden {
  display: none;
}

.cherry-bomb-font {
  font-family: "Cherry Bomb One", sans-serif;
  letter-spacing: 1px;
}

select {
  border-radius: 4px;
}