.auth-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.logo-text {
    font-weight: 550;
}

.logo-text-dark {
    color: aliceblue
}

.logo-text-light {
    color: rgb(39, 67, 70);
}

.logoimg {
    width: 70px;
}

.right-auth-header {
    display: flex;
    align-items: center;
    gap: 30px
}

.auth-about {
    font-size: 1.4em;
}

.toggle-container {
    display: flex;
    flex-direction: column;
    font-size: .7em;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.hidden {
    display: none;
}

.auth-header-light {
    background-color: rgb(236, 236, 236);
}