.modify-pet-section {
    padding-top: 80px;
    text-align: center;
    position: relative;
}

.modify-pet-buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
}

/* modals */
.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container-light {
    background-color: rgba(179, 179, 179, 0.4);
}

.modal-container-dark {
    background-color: rgba(197, 197, 197, 0.4);
}

.pet-modal {
    position: relative;
    width: 50%;
    height: 70%;
    min-width: 400px;
    max-height: 600px;
    min-height: 500px;
    z-index: 951;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pet-modal h3, #add-modal h3 {
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 20px;
}

.modal-light {
    background-color: rgb(237, 237, 237);
    box-shadow: 0 0 3px 2px rgb(215, 215, 215);
}

.modal-dark {
    background-color: rgb(76, 76, 76);
    box-shadow: 0 0 3px 2px rgb(51, 51, 51);
}

/* edit pet modal */
.modal-pet-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal-pet-details div{
    font-size: 1.2em;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.img-div {
    position: relative;
    width: fit-content;
}

.img-edit {
    position: absolute;
    top: 1%;
}

.weight-div, .chip-edit-div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.pencil {
    cursor: pointer;
    color: rgb(128, 155, 206);
}

.add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 1.3em;
    gap: 5px;
}

#plus:hover {
    text-decoration: none;
}

.edit-buttons {
    display: flex;
    gap: 20px;
}

.weight-input {
    width: 40px;
    text-align: center;
}

/* add pet modal */
#add-modal {
    position: relative;
    height: 60%;
    width: 400px;
    max-height: 550px;
    min-height: 430px;
    z-index: 951;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.add-pet-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 65%;
    margin-left: calc(0.5(width));
}

.add-pet-form input {
    width: 100%;
}

.add-pet-form select {
    width: 60%;
}

#date-input {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.date-format-ex {
    font-size: 11px;
    display: flex;
    align-items: center;
    opacity: 0.8;
    margin: 0;
    justify-content: flex-end;
}

.type-sex-container {
    display: flex;
}

.pet-input {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
}

.pet-type-input, .pet-sex-input {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
}

.pet-sex-input {
    margin-left: 20px;
}

#date-picker {
    color: white;
}

.add-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 40px;
}